**/node_modules/**

.DS_Store
.vscode/*
!.vscode/launch.json
.idea

uploads
coverage

mobile/gradle.properties
mobile/openapi/pubspec.lock
mobile/*.jks
mobile/openapi/test
mobile/openapi/doc
mobile/openapi/.openapi-generator/FILES

mobile/android/fastlane/report.xml
mobile/ios/fastlane/report.xml

vite.config.js.timestamp-*